<div class="row">
  <div class="col-12 col-lg-8 text-center my-3">
    <span class="text-muted"><a href="https://tfkhdyt.my.id" target="_blank" class="text-muted" style="text-decoration:none;font-weight:bold;">Taufik Hidayat</a> | 301200032 | Teknik Informatika</span>
  </div>
</div>